.oktw.outOfScreen.right {
    transform: translateX(100vw);
}
.oktw.outOfScreen.left {
    transform: translateX(-100vw);
}
.oktw.outOfScreen.bottom {
    transform: translateY(100vh);
}
.oktw.outOfScreen.top {
    transform: translateY(-100vh);
}