---
layout: blog/blog
title: 
permalink: /blog
---

<div class="oktw layout container">
    <a class="oktw elements title" href="{{ "/" | relative_url }}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;{% t menu.blog %}</a>
    
    <div class="ui items">
        {% assign sorted = site.categories.blog | sort: 'date' | reverse %}
        {% for post in sorted %}
        <a class="item" href="{{ post.url | relative_url }}">
            {% if post.image != null %}
            <div class="image">
                <img src="{{ post.image }}">
            </div>
            {% endif %}
            <div class="content">
                <div class="header"><h1>{{ post.title }}</h1>
            </div>
            <div class="description">
                <p>{{ post.description }}</p>
            </div>
            <div class="extra">
                <p>{{ post.date | date: "%Y/%m/%d" }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
    </div>
</div>
