---
layout: projects/projects
title: 
permalink: /projects
---

<div class="oktw layout container">
    <a class="oktw elements title" href="{{ "/" | relative_url }}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;{% t menu.projects %}</a>
    
    <div class="projects">
        {% assign sorted = site.categories.projects | sort: 'order' %}
        {% for post in sorted %}
        <a class="ui fluid card" href="{% if post.linkTo == null %}{{ post.url | relative_url }}{% else %}{{ post.linkTo }}{% endif %}" >
            {% if post.image != null %}
                <div class="image">
                    <img src="{{ post.image }}">
                </div>
            {% endif %}
            <div class="content">
                <div class="header">{{ post.title }}</div>
                <div class="description">
                    {{ post.desciption }}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
