@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
* {
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
}

// Elements
@import "elements/_all.scss";
// Layout
@import "layout/_all.scss";
// Anime
@import "anime/_all.scss";
// Color
@import "color.scss";
// Background
@import "background.scss";

// Overwrite Semantic UI
@import "ui.scss";

// No ScrollBar but Scrollable
::-webkit-scrollbar {
    display: none;
}

 ::-webkit-scrollbar-button {
    display: none;
}

body {
    -ms-overflow-style: none;
}