.oktw.background.page {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

@media (orientation: landscape) {
    .oktw.background.page {
        width: 100%;
    }
}

@media (orientation: portrait) {
    .oktw.background.page {
        height: 100%;
    }
}