@import "variables/_all.scss";

.oktw.title.fullpage{
    font-size: $font-huge-title;
    height: $font-huge-title;
    line-height: $font-huge-title;
}   

.oktw.title{
    font-size: $font-huge;
    height: $font-huge;
    line-height: $font-huge;
}