.oktw.flex {
    display: flex;
}

// Center

.oktw.flex.center {
    justify-content: center;
    align-content: center;
}

.oktw.flex.center.self {
    align-self: center;
}

.oktw.flex.center.all {
    align-items: center;
    justify-items: center;
}

.oktw.flex.start {
    justify-content: start;
    align-content: start;
}

.oktw.flex.cols{
    flex-direction: column;
}

.oktw.flex.rows{
    flex-direction: row;
}